<!DOCTYPE html>
<html lang="en">
<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <title>Document</title>
    <script async src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="main.css">
   
</head>

<body>
    <!-- action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" onsubmit="return submitUserForm();" -->
    <form class="form" method="post" >
        <h2>LOAD DATA</h2>
        <div class="form-row">
            <input type=hidden name="oid" value="00D5j0000036dDP">
            <input type=hidden name="retURL" value="http://google.com">
            <label for="company">Company</label><input required="required" pattern="^[A-Za-zА-Яа-яЁё\s]+$" title="Example, Apple Tech" placeholder="Write your company here.." id="company"
                maxlength="40" name="company" size="20" type="text" />
            <label for="first_name">First Name</label><input required="required" pattern="^[A-Za-zА-Яа-яЁё\s]+$" title="Example: Андрей or Andrey" placeholder="Write your first name here.." id="first_name"
                maxlength="40" name="first_name" size="20" type="text" />

            <label for="last_name">Last Name</label><input required="required" pattern="^[A-Za-zА-Яа-яЁё\s]+$" title="Example: Пультов or Pultov" placeholder="Write your last name here.." id="last_name"
                maxlength="80" name="last_name" size="20" type="text" />

            <label for="email">Email</label><input required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="example@mail.ru" placeholder="example@mail.ru" id="email" maxlength="80" name="email"
                size="20" type="text" />
            <label for="phone">Phone</label><input required="required" pattern="^(\+375|375|80)(29|25|44|33)(\d{3})(\d{2})(\d{2})$" title="Example: +375 33 111-11-11" placeholder="+375 11 111-11-11" id="phone" maxlength="40"
                name="phone" size="20" type="text" />
            <div class="pcklst">
            Product:<select id="00N5j000005b6EP" name="00N5j000005b6EP" title="Product">
                <option value="">--None--</option>
                <option value="Car">Car</option>
                <option value="Part">Part</option>
                <option value="Accessory">Accessory</option>

            </select>
            </div>
            <div class="g-recaptcha" data-sitekey="6Ldmk6QdAAAAAC8SHAMCvQEde_d8bFoz7q8zrrbD"
                data-callback="verifyCaptcha"></div>
            <div id="g-recaptcha-error"></div>
            <input class="btn" type="submit" name="submit" value="Submit" />
        </div>
    </form>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        var recaptcha_response = '';
        function submitUserForm() {
            if (recaptcha_response.length == 0) {
                document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">Пройдите проверку Google REcaptha</span>';
                return false;
            }
            return true;
        }

        function verifyCaptcha(token) {
            recaptcha_response = token;
            document.getElementById('g-recaptcha-error').innerHTML = '';
        }

    </script>
    <script>

    </script>
</body>

</html>