<!DOCTYPE html>
<html lang="en">
<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <title>Document</title>
    <script async src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="main.css">
   <style>
       
       body {
            background: #59ABE3;
        }

        .form {
            width: 340px;
            height: 550px;
            background: #e6e6e6;
            border-radius: 8px;
            box-shadow: 0 0 40px -10px #000;
            margin: calc(45vh - 220px) auto;
            padding: 20px 30px;
            max-width: calc(100vw - 40px);
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            position: relative;
        }

        h2 {
            margin: 10px 0;
            padding-bottom: 10px;
            width: 180px;
            color: #78788c;
            border-bottom: 3px solid #78788c
        }

        input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background: none;
            outline: none;
            resize: none;
            border: 0;
            font-family: 'Montserrat', sans-serif;
            transition: all .3s;
            border-bottom: 2px solid #bebed2
        }

        p:before {
            content: attr(type);
            display: block;
            margin: 28px 0 0;
            font-size: 14px;
            color: #5a5a5a
        }
        .pcklst {
            margin-top:10px;
        }
        .btn {
            padding: 8px 12px;
            margin: 10px 8px 0 0;
            font-family: 'Montserrat', sans-serif;
            font-weight:bold;
            background: white;
            color: rgb(1, 118, 211);
            cursor: pointer;
            transition: all .3s
            
        }

        .btn:hover {
            background: #78788c;
            color: #fff
        }
        .g-recaptcha {
            margin-top:10px;
        }
        select {
            margin-left:15px;
        }

   </style>
</head>

<body>
    <!-- action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" onsubmit="return submitUserForm();" -->
    <form class="form" method="post"  action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" onsubmit="return submitUserForm();">
        <h2>LOAD DATA</h2>
        <div class="form-row">
            <input type=hidden name="oid" value="00D5j000003imXq">
            <input type=hidden name="retURL" value="https://successcraft-2b.lightning.force.com/lightning/o/Lead/list?filterName=00B5j000008lmscEAA">
            <label for="company">Company</label><input required="required" pattern="^[A-Za-zА-Яа-яЁё\s]+$" title="Example: Apple Tech" placeholder="Write your company here.." id="company"
                maxlength="40" name="company" size="20" type="text" />
            <label for="first_name">First Name</label><input required="required" pattern="^[A-Za-zА-Яа-яЁё\s]+$" title="Example: Андрей or Andrey" placeholder="Write your first name here.." id="first_name"
                maxlength="40" name="first_name" size="20" type="text" />

            <label for="last_name">Last Name</label><input required="required" pattern="^[A-Za-zА-Яа-яЁё\s]+$" title="Example: Пультов or Pultov" placeholder="Write your last name here.." id="last_name"
                maxlength="80" name="last_name" size="20" type="text" />

            <label for="email">Email</label><input required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="example@mail.ru" placeholder="example@mail.ru" id="email" maxlength="80" name="email"
                size="20" type="text" />
            <label for="phone">Phone</label><input required="required" pattern="^(\+375|375|80)(29|25|44|33)(\d{3})(\d{2})(\d{2})$" title="Example: +375 33 111-11-11" placeholder="+375 11 111-11-11" id="phone" maxlength="40"
                name="phone" size="20" type="text" />
            <div class="pcklst">
            Product:<select id="00N5j000006EpMi" name="00N5j000006EpMi" title="Product">
                <option value="None">--Select product--</option>
                <option value="HK007A1">Carpets Hyundai</option>
                <option value="HK008A2">Carpets Kia</option>
                <option value="L005A1">Carpets Lada</option>
                <option value="R008A1">Carpets Renault</option>
                <option value="VAG010A2">Carpets Skoda</option>
                <option value="VAG009A1">Carpets Volkswagen</option>
                <option value="VAG007E4">CFNA</option>
                <option value="VAG008E5">CFNB</option>
                <option value="VAG005E2">CFW</option>
                <option value="VAG006E3">CWVA</option>
                <option value="VAG004E1">CZCA</option>
                <option value="HK006E2">G4FG</option>
                <option value="HK005E1">G4LC</option>
                <option value="R007E3">H4M</option>
                <option value="HK003C3">Hyundai Accent</option>
                <option value="HK004C4">Hyundai Solaris</option>
                <option value="R006E2">K4M</option>
                <option value="R005E1">K7M</option>
                <option value="HK001C1">Kia Rio</option>
                <option value="HK002C2">Kia Rio X-Line</option>
                <option value="L001C1">Lada Vesta</option>
                <option value="L002C2">Lada Xray</option>
                <option value="MI001A1">Phone holder Xiaomi</option>
                <option value="R001C1">Renault Logan</option>
                <option value="R002C2">Renault Logan Stepway</option>
                <option value="R003C3">Renault Sandero</option>
                <option value="R004C4">Renault Sandero Stepway</option>
                <option value="VAG003C3">Skoda Rapid</option>
                <option value="L004E2">VAZ-21129</option>
                <option value="L003E1">VAZ-21179</option>
                <option value="VAG002C2">Volkswagen Polo 2021</option>
                <option value="VAG001C1">Volkswagen Polo Sedan</option>
            </select>
            </div>
            <div class="g-recaptcha" data-sitekey="6Ldmk6QdAAAAAC8SHAMCvQEde_d8bFoz7q8zrrbD"
                data-callback="verifyCaptcha"></div>
            <div id="g-recaptcha-error"></div>
            <input class="btn" type="submit" name="submit" value="Submit" />
        </div>
    </form>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        var recaptcha_response = '';
        function submitUserForm() {
            if (recaptcha_response.length == 0) {
                document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">Пройдите проверку Google REcaptha</span>';
                return false;
            }
            return true;
        }

        function verifyCaptcha(token) {
            recaptcha_response = token;
            document.getElementById('g-recaptcha-error').innerHTML = '';
        }

    </script>
    <script>

    </script>
</body>

</html>